html, body {
    margin: 100;
    padding: 30;
    background-color: aliceblue;
  }
  
  #sketch{
    background-color: azure; 
    display: flex;
    justify-content: center;
    
    }
    #title{
      background-color:mintcream; 
      display: flex;
      justify-content: center;
      
      }
  #myContainer {
    /* display: block; */
    display: flex;
    justify-content: center;
  }

.box{
  background-color: beige;
}