html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@font-face {
  font-family: myfont;
  src: url("assets/ModernDOS8x14.ttf");
}

div {
  font-family: myfont;
}
button{
  cursor: url('images/cursor.png')3 10, auto;
}

#sketch {
    /* display: block; */
    display: flex;
    justify-content: center;
  }